body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
}
/*Class*/
.container {
    width: 1200px;
    margin: auto;
}
#header {
    background-color: #4a90e2;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

#header-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 72px;
}

#header-top .logo > img {
    width: 100px;
    margin-top: 10px;
}

#header-top .tinh {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 10px 4px 6px;
    position: relative;
    margin-top: 16px;
    cursor: pointer;

}

#header-top .tinh > span {
    color: #fff;
    display: block;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 15px;
}

#header-top .tinh > span::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    position: absolute;
    top: 2%;
    right: 1px;
}

#header-top #input-search {
    width: 310px;
    height: 39px;
    border-radius: 4px;
    margin-top: 16px;
    border: none;
    outline: none;
    padding: 0 20px;
}

#header-top .search-bar {
    position: relative;
}



#header-top .search-bar .fa-magnifying-glass {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 35px;
}

#header-top .tai-khoan-don-hang {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-top .gio-hang {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

#header-top .khuyen-mai {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

#header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-bottom .headbot-items {
    text-decoration: none;
    margin: 5px 15px 20px 15px;
    font-size: 14px;
    color: white;
    font-weight: bold;

}
.modal-tinh-thanh {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal-tinh-thanh.open {
    display: flex;
}

.modal-tinh-thanh .modal-container {
    width: 475px;
    height: 435px;
    background-color: white;
    position: relative;
    animation: modalFadeIn ease 0.7s;
    border-radius: 8px;
}

.modal-container .header-modal {
    height: 102px;
    background-color: #4a90e2;
    border-radius: 8px 8px 0 0;
}

.modal-container .header-modal .title-modal {
    display: flex;
    align-items: center;

}

.modal-container .header-modal .title-modal > p {
    width: 360px;
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 13px;

}

.modal-container .header-modal .title-modal span {
    font-weight: bold;
}

.modal-container .header-modal .title-modal > a {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-left: 28px;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.modal-container .header-modal .title-modal i {
    margin-right: 8px;

}

.modal-container .header-modal form {
    position: relative;
}

.modal-container form .tim-khu-vuc {
    width: 456px;
    height: 34px;
    position: absolute;
    left: 10px;
    border-radius: 8px;
    outline: 0;
    padding: 0 37px;
    box-sizing: border-box;
    border: 0;
}

.modal-container form .tim-khu-vuc::placeholder {

}

.modal-container form .icon-mini {
    position: absolute;
    top: 11px;
    left: 21px;
}

.modal-tinh-thanh .content-modal {
    background-color: white;
    max-height: 340px;
    overflow-y: auto;
    width: 446px;
    height: 325px;
    padding-left: 10px;
    padding-right: 10px;



}
.modal-tinh-thanh .content-modal p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}
.modal-tinh-thanh .content-modal ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    overflow-x: hidden;
}
.modal-tinh-thanh .content-modal ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    width: 140px;

}
.modal-tinh-thanh .content-modal ul li a {
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
    display: block;
}
/*silder*/
.slider{
    margin-top: 155px;
    height: 550px;

}
.payment{
    display: flex;
    justify-content: space-between;
}
.payment-left,
.payment-right {
    width: 45%;
}
.payment-left .input-box{
    width: 80%;
    margin-bottom: 10px;
    height: 34px;
    padding-left: 10px;
    outline: none ;
    cursor: pointer;
}
.payment-left .input-area{
    width: 81%;
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    cursor: pointer;
}
/*payment right*/
.payment-right{

}
.payment-right-id{
    display: flex;
    justify-content: space-between;
}
.payment-id{
    display: flex;
    justify-content: space-between;
}
.payment-id-title{
    color: #2f80ed;
}
.payment-right-title, .product, .tax, .total{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px ;
    padding: 10px;
}
.product-1, .product-price,.total-price,.title-1, .title-2,.total-title,.tax-title, .tax-price{
    margin: 0;
}
.voucher, .payment-right-title, .product, .tax, .total p{
    font-size: 14px;
}
.voucher{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#voucher-select {
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
}
#voucher-select:hover{
    color: #2f80ed;
}
.voucher-title i{
    color: #2f80ed;
}
.payment-type{
    display: flex;
    justify-content: space-between;
}
.payment-type .payment-type-1{
    display: inline-block;

}
.payment-type-1 input,
.payment-type-1 p {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.payment-type{
    padding-bottom: 10px;
}
.submit{
    height: 45px;
    width: 60%;
    text-align: center;
    margin-left: 25%;
    cursor: pointer;
    background-color: #2f80ed;
    color: white;
    border-radius: 5px;
    border: 1px solid ;
}
.submit:hover{
    background-color: #4b90e2;
    color: white;
}















/*footer*/
#footer {
    margin-top: 50px;
    border-top: 1px solid #e0e0e0;
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
}

#footer .container .tong-dai {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

#footer .tong-dai .tong-dai-ho-tro {
    font-weight: bold;
    font-size: 13px;
}

#footer .tong-dai a {
    text-decoration: none;
    color: #2f80ed;
}

#footer .container .lien-he {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .social .facebook {
    text-decoration: none;
    color: #2f80ed;
    margin-right: 15px;
}

#footer .social .youtube {
    text-decoration: none;
    color: #2f80ed;
}

#footer .tap-doan p {
    font-weight: 500;
}

#footer .tap-doan a > img {
    width: 120px;
    height: 30px;
}

.modal-tinh-thanh {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal-tinh-thanh.open {
    display: flex;
}

.modal-tinh-thanh .modal-container {
    width: 475px;
    height: 435px;
    background-color: white;
    position: relative;
    animation: modalFadeIn ease 0.7s;
    border-radius: 8px;
}

.modal-container .header-modal {
    height: 102px;
    background-color: #4a90e2;
    border-radius: 8px 8px 0 0;
}

.modal-container .header-modal .title-modal {
    display: flex;
    align-items: center;

}

.modal-container .header-modal .title-modal > p {
    width: 360px;
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 13px;

}

.modal-container .header-modal .title-modal span {
    font-weight: bold;
}

.modal-container .header-modal .title-modal > a {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-left: 28px;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.modal-container .header-modal .title-modal i {
    margin-right: 8px;

}

.modal-container .header-modal form {
    position: relative;
}

.modal-container form .tim-khu-vuc {
    width: 456px;
    height: 34px;
    position: absolute;
    left: 10px;
    border-radius: 8px;
    outline: 0;
    padding: 0 37px;
    box-sizing: border-box;
    border: 0;
}

.modal-container form .tim-khu-vuc::placeholder {

}

.modal-container form .icon-mini {
    position: absolute;
    top: 11px;
    left: 21px;
}

.modal-tinh-thanh .content-modal {
    background-color: white;
    max-height: 340px;
    overflow-y: auto;
    width: 446px;
    height: 325px;
    padding-left: 10px;
    padding-right: 10px;



}
.modal-tinh-thanh .content-modal p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}
.modal-tinh-thanh .content-modal ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    overflow-x: hidden;
}
.modal-tinh-thanh .content-modal ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    width: 140px;

}
.modal-tinh-thanh .content-modal ul li a {
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
    display: block;

}








