body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
}

/*Header*/
#header {
    background-color: #4a90e2;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

#header-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 72px;

}

#header-top .logo > img {
    width: 100px;
    margin-top: 10px;
}

#header-top .tinh {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 10px 4px 6px;
    position: relative;
    margin-top: 16px;

}

#header-top .tinh > span {
    color: #fff;
    display: block;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 15px;
}

#header-top .tinh > span::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    position: absolute;
    top: 2%;
    right: 1px;
}

#header-top #input-search {
    width: 350px;
    height: 36px;
    border-radius: 4px;
    margin-top: 16px;
    border: none;
}

#header-top .search-bar {
    position: relative;
}

#input-search::placeholder {
    padding-left: 8px;
}

#header-top .search-bar .fa-magnifying-glass {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 35px;
}

#header-top .tai-khoan-don-hang {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-top .gio-hang {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#header-top .khuyen-mai {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

#header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-bottom .headbot-items {
    text-decoration: none;
    margin: 5px 15px 20px 15px;
    font-size: 14px;
    color: white;
    font-weight: bold;

}

/*Poster*/
#poster > img {
    width: 100%;
    margin-top: 109px;

}

/*Navigation*/
#nav-bar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#nav-bar .nav-item {
    font-size: 12px;
    line-height: 17px;
    margin: 0 30px;
    width: 97px;
    text-decoration: none;
    text-align: center;
    color: #2f497f;
}

#nav-bar .nav-item:hover > img {
    background-color: #0b3481;

}

#nav-bar .nav-item:hover > span {
    font-weight: bold;
    color: #0b3481;
}

#nav-bar .nav-item > img {
    align-items: center;
    background-color: #cee8f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 35px;
}

#nav .nav-thuong-hieu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#nav .nav-thuong-hieu .nav-thuong-hieu-items {
    margin: 0 20px;
    background-color: white;
    /*border: 1px solid #e0e0e0;*/
    padding: 3px;
}

#nav .nav-thuong-hieu .nav-thuong-hieu-items > img {
    width: 70px;
    height: 35px;
}

/*Content*/
#content {
    margin-top: 10px;
}

.deal-soc {
    display: flex;
    align-items: center;
}

#deal-soc-content {
    background-color: #f13ba7;
}

#content .poster-link > img {
    width: 1190px;
    border: 10px solid #f13ba7;
    border-left: 5px solid #f13ba7;
    border-right: 5px solid #f13ba7;
}

.deal-soc .deal-soc-items {
    padding: 10px 12px 15px 12px;
    border: 5px solid #f13ba7;
    background-color: #ffffff;
}

.deal-soc .deal-items {
    text-decoration: none;
}

.deal-soc .item-label > span {
    background-color: #f1f1f1;
    color: #333;
    font-size: 11px;
    padding: 3px;
}

.deal-soc .item-img > img {
    width: 200px;
}

.deal-soc .label-gia-re {
    display: flex;
    align-items: center;
    background-color: #db2663;
    width: 105px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.deal-soc .label-gia-re > span {
    padding-top: 3px;
}

.deal-soc .label-gia-re > img {
    width: 18px;
    height: 20px;
    margin-right: 8px;
}

.deal-soc h3 {
    font-size: 14px;
    color: #333333;
}

.deal-soc .item-compare > span {
    background-color: white;
    color: #333;
    padding: 3px;
    border: 1px solid #e0e0e0;
}

.deal-soc p {
    color: #333333;
}

.deal-soc .gia-sale > p {
    text-decoration-line: line-through;
    display: inline-block;
    margin-top: 0;
}

.deal-soc .price-sale {
    font-size: 18px;
    line-height: 24px;
    color: #e83a45;
}

.deal-soc .item-rating p {
    display: inline-block;
}

.deal-soc .item-ss {
    text-decoration: none;
    color: #333333;
    display: block;
}

/*ID*/
#poster-mini {
    margin-top: 50px;
}

#poster-mini .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#poster-mini .container img {
    width: 590px;
}

#content .may-loc-content {
    margin-top: 50px;
}

#content .may-loc-content .poster-link-bottom {

}

#content .may-loc-content .thuong-hieu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .thuong-hieu > .noi-bat {
    text-decoration: none;
    background-color: #ffe500;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    margin: 30px 50px;
}

#content .thuong-hieu a img {
    width: 60px;
    height: 25px;
    margin: 30px 50px;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    border-radius: 20px;
}

#content .content-may-loc {
    display: flex;
    flex-wrap: wrap;
}

#content .content-may-loc-mini {
    width: calc(((100% / 5) - 26px));
    padding: 10px 12px 15px 12px;
    border: 1px solid #e0e0e0;

}

#content .content-may-loc-mini .item-img > img {
    width: 200px;
}

#content .poster-link > img {
    width: 1190px;
    border: 10px solid #f13ba7;
    border-left: 5px solid #f13ba7;
    border-right: 5px solid #f13ba7;
}

.content-may-loc .deal-items {
    text-decoration: none;
}

.content-may-loc .item-label > span {
    background-color: #f1f1f1;
    color: #333;
    font-size: 11px;
    padding: 3px;
}

.content-may-loc .item-img > img {
    width: 200px;
}

.content-may-loc .label-gia-re {
    display: flex;
    align-items: center;
    background-color: #db2663;
    width: 105px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.content-may-loc .label-gia-re > span {
    padding-top: 3px;
}

.content-may-loc .label-gia-re > img {
    width: 18px;
    height: 20px;
    margin-right: 8px;
}

.content-may-loc h3 {
    font-size: 14px;
    color: #333333;
}

.content-may-loc .item-compare > span {
    background-color: white;
    color: #333;
    padding: 3px;
    border: 1px solid #e0e0e0;
}

.content-may-loc p {
    color: #333333;
}

.content-may-loc .gia-sale > p {
    text-decoration-line: line-through;
    display: inline-block;
    margin-top: 0;
}

.content-may-loc .price-sale {
    font-size: 18px;
    line-height: 24px;
    color: #e83a45;
}

.content-may-loc .item-rating  p {
    display: inline-block;
}

.content-may-loc .item-ss {
    text-decoration: none;
    color: #333333;
    display: block;
}

.may-loc-content .xem-tat-ca {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.may-loc-content .xem-tat-ca .xem-tat-ca-link {
    text-decoration: none;
    padding: 13px 92px 10px 83px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #333333;
}
.may-loc-content .xem-tat-ca .xem-tat-ca-link .fa-caret-right {
    margin-left: 7px;
}


#footer {
    margin-top: 50px;
    border-top: 1px solid #e0e0e0;
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
}

#footer .container .tong-dai {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

#footer .tong-dai .tong-dai-ho-tro {
    font-weight: bold;
    font-size: 13px;
}

#footer .tong-dai a {
    text-decoration: none;
    color: #2f80ed;
}

#footer .container .lien-he {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .social .facebook {
    text-decoration: none;
    color: #2f80ed;
    margin-right: 15px;
}

#footer .social .youtube {
    text-decoration: none;
    color: #2f80ed;
}

#footer .tap-doan p {
    font-weight: 500;
}

#footer .tap-doan a > img {
    width: 120px;
    height: 30px;
}
/*Khung tinh thanh*/
.modal-tinh-thanh {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;

}
.modal-tinh-thanh.open {
    display: flex;
}

.modal-tinh-thanh .modal-container {
    width: 475px;
    height: 435px;
    background-color: white;
    position: relative;
    animation: modalFadeIn ease 0.7s;
    border-radius: 8px;

}

.modal-container .header-modal {
    height: 102px;
    background-color: #4a90e2;
    border-radius: 8px 8px 0 0;
}

.modal-container .header-modal .title-modal {
    display: flex;
    align-items: center;

}

.modal-container .header-modal .title-modal > p {
    width: 360px;
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 13px;

}

.modal-container .header-modal .title-modal span {
    font-weight: bold;
}

.modal-container .header-modal .title-modal > a {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-left: 28px;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.modal-container .header-modal .title-modal i {
    margin-right: 8px;

}

.modal-container .header-modal form {
    position: relative;
}

.modal-container form .tim-khu-vuc {
    width: 456px;
    height: 34px;
    position: absolute;
    left: 10px;
    border-radius: 8px;
    outline: 0;
    padding: 0 37px;
    box-sizing: border-box;
    border: 0;
}

.modal-container form .tim-khu-vuc::placeholder {

}

.modal-container form .icon-mini {
    position: absolute;
    top: 11px;
    left: 21px;
}

.modal-tinh-thanh .content-modal {
    background-color: white;
    max-height: 340px;
    overflow-y: auto;
    width: 446px;
    height: 325px;
    padding-left: 10px;
    padding-right: 10px;


}

.modal-tinh-thanh .content-modal p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}

.modal-tinh-thanh .content-modal ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    overflow-x: hidden;
}

.modal-tinh-thanh .content-modal ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}

.modal-tinh-thanh .content-modal ul li a {
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
    display: block;
}

/*Class*/
.container {
    width: 1200px;
    margin: auto;
}
/*product*/

.product{
    padding: 100px 0;
}
.product-content-top{
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.product-content-top p {
    font-family: Arial, Tahoma, sans-serif;
    padding: 5px;
    display: inline-flex;
    font-size: 25px;
    cursor: pointer;
    color: #2f80ed;
    margin-top: 1px;

}
.product-content-left{
    width: 95%;
    display: flex;
    height: min-content;
}
.product-content-left-big-img{
    width: 90%;
    margin-right: 20px;
    height: fit-content;
}
.product-content-left-big-img img{
    cursor: pointer;
    width: 100%;
    height: fit-content;

}
.product-content-left-small-img{
    width: 40%;
}
.product-content-left-small-img img{
    cursor: pointer;
    width: 100%;
    padding-top: 37px;

}
.product-content-right{
    width: 40%;
    padding-left: 50px;
}

.product-content-right-product-name p{
    color: #2f80ed;

}
.product-content-right-product-name i{
   color: #ee1b1b;
    margin-left: 5px;
    font-size: 12px;
}
.product-content-right-product-price{
    margin: 10px 0;
}
.product-content-right-product-price p{
    font-weight: bold;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #2f80ed;
    color: #f1f1f1;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 40px;
    font-weight: bold;
}
.product-content-right-product-button{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.product-content-right-goidatmua{
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    padding-left: 30px;
}
.product-content-big-content-title{
    border-bottom: 2px solid #e0e0e0;
    display: inline-flex;

}
.product-content-title-item{
    cursor: pointer;
    padding-left: 20px;
}
.product-content{
    padding-top: 30px;
}
.product-content p{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
}
.product-content-title-item p {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
}
/*thongsokythuat*/
.table-content-tskt table,th,td{
    border: 1px solid #efe9e9;
    width: 56.5%;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
.table-content-tskt-tongquan th{
    font-size: 17px;
    background-color: #e0e0e0;

}
.table-content-tskt-tongquan td{
    font-size: 14px;
}
.table-content-tskt-thongtinloiloc th{
    font-size: 17px;
    background-color: #e0e0e0;

}
.table-content-tskt-thongtinloiloc td {
    font-size: 14px;
}
.table-content-tskt-bangdieukhien th {
    font-size: 17px;
    background-color: #e0e0e0;

}
.table-content-tskt-bangdieukhien td {
    font-size: 14px;
}
.table-content-tskt-hethonghoatdong th {
    background-color: #e0e0e0;

    font-size: 17px;
}
.table-content-tskt-hethonghoatdong td{
    font-size: 14px;
}
.table-content-tskt-thongtinlapdatvabaohanh th {
    font-size: 17px;
    background-color: #e0e0e0;

}
.table-content-tskt-thongtinlapdatvabaohanh td {
    font-size: 14px;
}
/*thongsokythuat*/

.product-content-thongsokythuat {
        display: none;
        font-family: Arial, Tahoma, sans-serif;
        font-size: 18px;
    }

    .product-content-thongsokythuat img {
        width: 56.5%;
        height: 460px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .product-content-thongsokythuat p {
        font-size: 14.5px;
    }

    .product-content-thongtinsanpham {
        font-family: Arial, Tahoma, sans-serif;
        font-size: 18px;
    }

    .product-content-thongtinsanpham img {
        width: 56.5%;
        height: 375px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .product-content-thongtinsanpham p {
        font-size: 14.5px;
    }


    /*san pham lien quan trong product(chi tiet san pham)*/

    .product-related-content {
        display: flex;
    }

    .product-related {
        margin-bottom: 50px;
    }

    .product-related-title {
        margin: 20px 0;
        border-top: 1px solid #e0e0e0;
    }

    .product-related-title p {
        font-size: 14px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight: bold;
        color: #333333;
    }

    .product-related-item {
        width: 30%;
        text-align: center;
        margin: 0 6px;
    }

    .product-related-item img {
        width: 100%;
    }

    .product-related-item h1 {
        font-size: 13.5px;
        font-family: Arial, Tahoma, sans-serif;
        color: #333333;
        margin-top: 6px;
    }

    .product-related-item p {
        font-size: 15px;
        color: #f18f31;

    }

    .product-content-baohanh {
        border-radius: 5px;
        background-color: #f1f1f1;
        margin-top: 40px;
        width: 56.5%;
    }

    .product-content-baohanh-head {
        font-family: Arial, Tahoma, sans-serif;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
        padding-top: 3px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

    .product-content-baohanh-bottom {
        font-family: Arial, Tahoma, sans-serif;
        text-align: center;
        padding-bottom: 3px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 15px;
    }

    .thong-tin-them {
        display: flex;
        background-color: #f1f1f1;
        margin-top: 10px;
        text-align: center;
        justify-content: space-around;
        padding-top: 10px;
        border-radius: 5px;
        width: 503px;
    }

    .thong-tin-them-qr p {
        font-style: italic;
        font-family: Arial, Tahoma, sans-serif;
        font-size: 12px;
    }
    .thong-tin-them-chplay p {
        font-family: Arial, Tahoma, sans-serif;
        font-size: 12px;
        cursor: pointer;
    }
    .thong-tin-them-appstore p {
        font-family: Arial, Tahoma, sans-serif;
        font-size: 12px;
        cursor: pointer;
    }
    /*khuyenmai*/

    .khuyenmai {
        display: block;
        justify-content: left;
        text-align: left;
        border-radius: 5px;
        width: max-content;
        background-color: #f1f1f1;
    }

    .khuyenmai-title {
        border-bottom: 1px solid #e0e0e0;
    }

    .khuyenmai-title h1 {
        font-family: Arial, Tahoma, sans-serif;
        font-weight: bold;
        text-align: left;
        padding-top: 6px;
        padding-left: 6px;
    }

    .khuyenmai-title h2 {
        font-family: Arial, Tahoma, sans-serif;
        font-style: italic;
        padding-top: 6px;
        padding-left: 6px;
        color: #807e7e;
    }

    .khuyenmai-content {
        font-family: Arial, Tahoma, sans-serif;
        text-align: left;
        padding: 0 5px 5px 0;

    }

    .khuyenmai-them {
        display: block;
        border-radius: 5px;
        background-color: #f1f1f1;
        width: 503px;
        text-align: left;
    }

    .khuyenmai-them-title h1 {
        font-family: Arial, Tahoma, sans-serif;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-top: 6px;
        background-color: #e32e2e;
        color: #f1f1f1;

    }

    .khuyenmai-them-content {
        padding-right: 20px;
        padding-bottom: 5px;
    }

    .banner-khuyenmai img {
        width: 503px;
    }
