body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
}

/*Header*/
#header {
    background-color: #4a90e2;
    position: fixed;
    width: 100%;
}
#header-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 72px;
}

#header-top .logo > img {
    width: 100px;
    margin-top: 10px;
}

#header-top .tinh {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 10px 4px 6px;
    position: relative;
    margin-top: 16px;

}

#header-top .tinh > span {
    color: #fff;
    display: block;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 15px;
}

#header-top .tinh > span::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    position: absolute;
    top: 2%;
    right: 1px;
}

#header-top #input-search {
    width: 350px;
    height: 36px;
    border-radius: 4px;
    margin-top: 16px;
    border: none;
}

#header-top .search-bar {
    position: relative;
}

#input-search::placeholder {
    padding-left: 8px;
}

#header-top .search-bar .fa-magnifying-glass {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 35px;
}

#header-top .tai-khoan-don-hang {
    width: 135px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-top .gio-hang {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#header-top .khuyen-mai {
    width: 68px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #a8d0ff61;
    line-height: 15px;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

#header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-bottom .headbot-items {
    text-decoration: none;
    margin: 5px 15px 20px 15px;
    font-size: 14px;
    color: white;
    font-weight: bold;

}
.container {
    width: 1200px;
    margin: auto;
}