*{
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
}

#header{
    height: 72px;
}
.container {
    max-width: 1200px;
    margin: auto;

}
.container ul{
    list-style-type: none;
}
.container .logo img{
    width: 100px;
    margin-top: 10px;
}
.logo, .label {
    float: left;
    display: inline-block;
}
.label h2 {
    color: #222;
    font-size: 20px;
    padding-top: 25px;
}
.help {
    float: right;
    padding-top: 35px;
}
.help a{
   text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.slider {
    width: 100%;
    height: 600px;
    background-color: #4b90e2;
}
.slider .slider-form{
    margin-top: 60px;
    background-color: #ffffff;
    width: 400px;
    height: 485px;
    float: right;
    border-radius: 15px;

}
.slider .slider-logo{
    float: left;
    margin-top: 145px ;
    margin-left: 200px;
}
.slider .slider-logo img{
    width: 280px;

}
.slider .slider-form h1{
    font-size: 20px;
    padding: 43px 0px 10px 35px;
}
.slider .input-box{
    width: 100%;
    height: 40px;
    margin: 30px 0 ;
    display: flex;
    justify-content: center;
}
.input-box input{
    width: 85%;
    height: 100%;
    outline: none;
    padding-left: 15px;
}
.input-box input:hover{
    cursor: pointer;
}

.signin-btn{
    display: flex;
    justify-content: center;
}
.signin-btn button:hover{
    background-color: #4b90e2;
    color: white;
}
.signin-btn button{
    width: 90%;
    height: 45px;
    background: #0097e6;
    border: 5px;
    cursor: pointer;
    font-size: 16px ;
    color: white;
    font-weight: 600;
}
.label-forget{
    padding-top: 15px;

}
.label-forget a{
    text-decoration: none;

}
.label-forget .forget{
    padding: 0px 152px 0px 30px ;
}
.label-or{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}
.label-or p{
    font-size: 12px;
}

.btn-ggfb .btnfb{
    width: 40%;
    height: 40px;
    background: #0097e6;
    border: 5px;
    cursor: pointer;
    font-size: 16px ;
    color: white;
    font-weight: 600;
    margin-left: 30px;
}
.btn-ggfb i{
    font-size: 16px ;
}
.btn-ggfb .btngg{
    width: 40%;
    height: 40px;
    background: #0097e6;
    border: 5px;
    cursor: pointer;
    font-size: 16px ;
    color: white;
    font-weight: 600;
    margin-left: 15px;
}
.des{
    padding-top: 36px;
    display: flex;
    justify-content: center;
}
.des a{
    color: #2f80ed;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
